/* Reset CSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}
.clear {
  clear: both;
}

.text-white {
  color: #fff !important;
}

#main {
}

#header {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  height: 46px;
  background-color: #000;
}

#nav {
  display: inline-block;
}

#nav,
.subnav {
  list-style-type: none;
}

#nav > li {
  display: inline-block;
}

#nav li {
  position: relative;
}

#nav > li > a {
  color: #fff;
  text-transform: uppercase;
}

#nav li a {
  text-decoration: none;
  line-height: 46px;
  padding: 0 24px;
  display: block;
}

#nav li:hover .subnav {
  display: block;
}

#nav .subnav li:hover a,
#nav > li:hover > a {
  color: #000;
  background-color: #ccc;
}

#nav .subnav {
  display: none;
  min-width: 160px;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav .subnav a {
  color: #000;
  padding: 0 12px;
  line-height: 38px;
}

#nav .nav-arrow-down {
  font-size: 14px;
}

#header .search-btn {
  float: right;
  padding: 0 21px;
}

#header .search-btn:hover {
  cursor: pointer;
  background-color: #f44336;
}

#header .search-icon {
  color: #fff;
  font-size: 20px;
  line-height: 46px;
}

#slider {
  position: relative;
  margin-top: 46px;
  padding-top: 50%;
  background: url(/assets/img/slider/slider1.PNG) top center / cover no-repeat;
}

#slider .text-content {
  position: absolute;
  bottom: 47px;
  color: #fff;
  width: 100%;
  text-align: center;
}

#slider .text-heading {
  font-weight: 500;
  font-size: 24px;
}

#slider .text-desc {
  font-size: 15px;
  margin-top: 25px;
}

#content {
}

#content .content-section {
  width: 800px;
  padding: 64px 0;
  margin-left: auto;
  margin-right: auto;
}

#content .section-heading {
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 4px;
}

#content .section-sub-heading {
  font-size: 15px;
  margin-top: 25px;
  font-style: italic;
  opacity: 0.6;
}

#content .section-heading,
#content .section-sub-heading {
  text-align: center;
}

#content .about-text {
  margin-top: 25px;
  font-size: 15px;
  text-align: justify;
  line-height: 1.4;
}

a.goto-social,
a.goto-social:hover {
  font-size: 16px;
  font-weight: 600;
  color: #000;
  text-decoration: none;
}

#content .members-list {
  margin-top: 48px;
}

#content .member-item {
  float: left;
  width: 33.33333%;
  text-align: center;
}

#content .member-name {
  font-size: 15px;
  text-align: center;
}

#content .member-img {
  width: 154px;
  margin-top: 15px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* Spec section */
.spec-section {
  background-color: #000;
}

.tickets-list {
  background-color: #fff;
  margin-top: 40px;
}

.tickets-list li {
  color: #757575;
  font-size: 15px;
  padding: 11px 16px;
  border-bottom: 1px solid #ddd;
  list-style: none;
}

.tickets-list .ticket-content {
  /* background-color: #b8b2b2; */
  /* color: #fff; */
  color: #000;
  padding: 3px 4px;
  margin-left: 16px;
}

.tickets-list .ticket-number {
  float: right;
  width: 24px;
  height: 24px;
  background-color: #000;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 24px;
  margin-top: -3px;
}

/* Spec */
.specs-list {
  margin: 32px -8px 48px;
}

.spec-item {
  float: left;
  width: 33.33333%;
  padding: 0 8px;
}

.spec-img {
  width: 100%;
  height: 230px;
  display: block;
}

.spec-img:hover {
  opacity: 0.6;
}

.spec-body {
  padding: 16px;
  font-size: 15px;
  background-color: #fff;
}

.spec-heading {
  font-size: 15px;
  font-weight: 600;
}

.spec-detail {
  margin-top: 15px;
  color: #757575;
}

.spec-desc {
  margin-top: 15px;
  line-height: 1.4;
}

.spec-go-btn {
  color: #fff;
  background-color: black;
  text-decoration: none;
  padding: 11px 16px;
  display: inline-block;
  margin-top: 15px;
}

.spec-go-btn:hover {
  color: #000;
  background-color: #ccc;
}

#footer {
}
